<header class="intro-header" >
    <div class="container">
    <div class="row artist-intro">
    	<p>
    		I've been in love with the theater as long as I can remember. I used to act out every part of my favorite musicals, for all of my stuffed animals to see. I've performed, directed, designed, and production managed my way through this past decade. I am the co-founder of Basic Engineering Collective, an experimental theater group dedicated to making new work.  
    	</p>
    	<p>
    		Since receiving my MFA from Sarah Lawrence College, I have been interested in experimental work. Work that explores taboo topics, or asks big questions, or doesn't quite make sense. I'm an explorer of the human condition. 
    	</p>
    </div>
    <div class="row work-sample-row">
            <div class="col work-sample-block">
            	<h3>Tell Them Nothing, Director</h3>
            	<%= image_tag('tell_them_nothing.jpg') %>
            </div>
            <div class="col work-sample-block">
            	<h3>Beirut, Designer</h3>
            	<%= image_tag('Beirut2.jpg') %>
            </div>
            <div class="col work-sample-block">
            	<h3>Summerland, Director/Designer</h3>
            	<%= image_tag('Summerland1.jpg') %>
            </div>
        </div>
</header>
