<header class="intro-header developer-header" >
    <div class="container">
        <div class="row developer-intro">
            <p>I found my way to programming through theater. I was making work as a projection designer and met some artists writing their projections in C. I was curious. I asked questions. I asked so many questions I decided to enroll in a class, Creative Coding. I learned a bit of Java and fell in love. So I went to Dev Bootcamp to fast track my learning and now I spend my days making technologies at Catch New York.</p>
            <p>I work with Rails, Ruby, JavaScript, AngularJS, and most recently, React.</p>
            <p>Here are some sites I've had the pleasure to work on...</p>
        </div>
        <div class="row work-sample-row">
            <div class="col work-sample-block">
            	<h3>John Guest Website</h3>
            	<%= link_to image_tag('jgprolock.png'), 'http://www.jgprolock.com/en', target: '_blank' %>
            </div>
            <div class="col work-sample-block">
            	<h3>Catch Website</h3>
            	<%= link_to image_tag('catchsite.png'), 'http://catch-site.herokuapp.com/', target: '_blank' %>
            </div>
            <div class="col work-sample-block">
            	<h3>Can I Afford This App </h3>
            	<%= link_to image_tag('caniaffordthis.png'), 'http://caniaffordthis.herokuapp.com/', target: '_blank' %>
            </div>
        </div>
    </div>
</header>



