<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("carousel-2.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
          <p class="lead"><br /><br /></p>
        </div>
      </div>
    </div>
  </div>
</div>

<article>
  <div id="about" class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    	<h3>My Journey.</h3>
    	<p>I grew up in Connecticut and moved to New York City as a young adult in pursuit of Broadway dreams. My journey to yoga is a common one, I first attended classes with the goal of sculpted arms. Then, along the way, I realized something deep within myself. Yoga changed me. It made me see the good in others, it made me see the good deep in myself. Yoga reminded me that practice makes progress. Yoga gave me a new perspective on growth, on mindfulness, on love. Yoga calmed me down and raised my spirits. I have had the pleasure of practicing with some of the most beautiful human beings and I felt compelled to learn as much as I can and share this gift with others. This is my journey. My yoga journey. We meet just when I plunged into the deep end of philosophy and anatomy and began my first 200 hour yoga teacher training. I will definitely learn many things about myself. I hope you learn something, too. </p>
    </div>
  </div>
</article>
<div class="container">

