<article>
  <div id="about" class="container home-text">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1>Theater Artist.</h1>
      <h1>Software Developer.</h1>
      <h1>Yoga Teacher.</h1>
    </div>  
  </div>
</article>
<div class="container">

