<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("carousel-1.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
          <h1> Jul's Yoga Journey!</h1>
          <p class="lead"><br /><br /></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("carousel-2.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
          <p class="lead">Follow me on my journey through yoga teacher training.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("carousel-3.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Namaste</h1>
          <p class="lead">The light in me bows to the light in you.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
 <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>