<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("carousel-1.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
          <p class="lead"><br /><br /></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("carousel-2.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("carousel-3.png", :alt => "Slide1"), {:class => "img-responsive", :alt => "Responsive image"} %>
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

 <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>  
<div id="about" class="container">
<p>About Meeeee</p>
</div>
<div class="container">

