<header class="intro-header schedule-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="schedule-heading"> 
						<h3><span>Sunday</span><br /><span>6:45 - 8:00</span> <span><a href="http://www.niyamastudio.com/" target="_blank">Niyama Studio</a> in Peekskill, NY</span></h3>
						<h3><span>Monday</span><br /><span>6:45 - 8:00</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
						<h3><span>8:15 - 9:15</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
						<h3><span>Saturday</span><br /><span>1:15 - 2:45</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
				</div>
            </div>
        </div>
    </div>
</header>
