<div class="container">
    <div class="row yoga-intro">
    	<p>I began practicing yoga over 15 years ago. I fell in love immediately. I've studied a variety of styles with some beautiful teachers over the years. I found peace through meditation. I sound myself sharing my knowledge of yoga in a variety of settings, so I felt it was time to work towards my 200 hour teacher training. I enjoy the physical practice of yoga but I live for the stillness of the mind.</p>
    </div>
    <div class="row yoga-image-row">
        <div class="col yoga-image-block">
        	<%= image_tag('woods-warrior.jpg') %>
        </div>
        <div class="col yoga-image-block">
        	<%= image_tag('tunnel-handstand.jpg') %>
        </div>
        <div class="col yoga-image-block">
        	<%= image_tag('wheel-beach.jpg') %>
        </div>
    </div>
    <div class="row yoga-schedule">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="schedule-heading"> 
        		<h3>Weekly Teaching Schedule</h3>
				<h3><span>Sunday </span><span>6:45 - 8:00</span> <span><a href="http://www.niyamastudio.com/" target="_blank">Niyama Studio</a> in Peekskill, NY</span></h3>
				<h3><span>Monday </span><span>6:45 - 8:00</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
				<h3><span>8:15 - 9:15</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
				<h3><span>Saturday </span><span>1:15 - 2:45</span> <span><a href="http://www.prospectheightsyoga.com/" target="_blank">Prospect Heights Yoga</a> in Brooklyn, NY</span></h3>
			</div>
        </div>
    </div>
</div>