// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.schedule-header{
	background-image: url(asset-path('bw_side_plank.jpg')) !important;
}


.schedule-heading{
    text-align: center;
    background: rgba(161, 0, 133, 0.3);  
    a{
    	color: #fff;
    	text-decoration: underline;
    	&:hover {
    		color: rgba(0,0,0,0.6);
    	}
    	&:visited{
    		color:#fff;
    	}
    }
}

